---
name: tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

env:
  CAPNPROTO: capnproto-c++-0.7.0

jobs:
  tox_tests:
    name: tox -e ${{ matrix.toxenv }}

    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - python-version: '3.8'
            toxenv: 'py38-test'

          - python-version: '3.9'
            toxenv: 'py39-test'

          - python-version: '3.10'
            toxenv: 'py310-test'

          - python-version: '3.11'
            toxenv: 'py311-test'

          - python-version: '3.12'
            toxenv: 'py312-test'

          - python-version: '3.13'
            toxenv: 'py313-test'

          - python-version: '3.14'
            toxenv: 'py314-test'

          - python-version: 'pypy-3.11'
            toxenv: 'pypy3-test'

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache capnproto
        uses: actions/cache@v4
        env:
          cache-name: cache-capnproto
        with:
          path: ~/capnproto
          key: ${{ env.CAPNPROTO }}-${{ runner.os }}

      - name: Install capnproto
        run: bash ./ci/install_capnp.sh

      - name: pip install
        run: |
          pip install -U pip # so that we can use wheels
          # tox creates the sdist: we need cython to be installed in the env which
          # creates the sdist, to generate the .c files
          pip install tox==4.25.0 cython==3.2.2

      - name: Run tox
        run: tox -e ${{ matrix.toxenv }}
